body {
    background: url(../media/images/bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#main-container{
    padding-top: 2em;
    padding-bottom: 1em;
}

.jumbotron{
    margin-top: 3em;
    background-color: #333;
    color: white;
}

p.warning{
    background-color: rgba(220, 220, 120, 0.6);
    padding-left: 2em;
}
div.alert-warning:before{
    display: inline-block;
    width: 1em;
    height: 1em;
    margin-right: 0.5em;
    content: "";
    background: url(../media/icons/warning.png) no-repeat 0 0;
    background-size: 100%;
}

div.panel-black {
    background: rgba(0,0,0,0)
}
