/* Social icons */

.websiteButton {
  display: inline-block;
  height: 32px;
  width: 48px;
  border-color: black;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
}

.websiteButton:before {
  background-size: 67% 100%;
  display: inline-block;
  width: 100%;
  height: 100%;
  content:"";
  background-repeat: no-repeat;
  background-position: center;
}

// Youtube
.websiteButton[data-website="youtube"]:before {
  background-image: url('../images/icons/youtube.svg');
}

.websiteButton[data-website="youtube"] {
  background-color: rgba(100, 90, 90, 1);
  border-color: black;
}

.websiteButton[data-website="youtube"]:hover {
  background-color: rgba(220, 160, 160, 1);
}

// Github
.websiteButton[data-website="github"]:before {
  background-image: url('../images/icons/github.svg');
}

.websiteButton[data-website="github"] {
  background-color: rgba(68, 68, 68, 1);
  border-color: black;
}

.websiteButton[data-website="github"]:hover {
  background-color: rgba(102, 102, 102, 1);
}

// NPM
.websiteButton[data-website="npm"]:before {
  background-image: url('../images/icons/npm.png');
}

.websiteButton[data-website="npm"] {
  background-color: rgba(100, 60, 60, 1);
  border-color: rgba(150, 60, 60, 1);
}

.websiteButton[data-website="npm"]:hover {
  background-color: rgba(220, 60, 60, 1);
}

// Telegram
.websiteButton[data-website="telegram"]:before {
  background-image: url('../images/icons/telegram.png');
}

.websiteButton[data-website="telegram"] {
  background-color: rgba(26, 183, 234, 1);
  border-color: rgba(15, 150, 200, 1);
}

.websiteButton[data-website="telegram"]:hover {
  background-color: rgba(15, 150, 200, 1);
}

// Twitter
.websiteButton[data-website="twitter"]:before {
  background-image: url('../images/icons/twitter.svg');
}

.websiteButton[data-website="twitter"] {
  background-color: rgba(26, 183, 234, 1);
  border-color: rgba(15, 150, 200, 1);
}

.websiteButton[data-website="twitter"]:hover {
  background-color: rgba(15, 150, 200, 1);
}

// Webpage
.websiteButton[data-website="webpage"]:before {
  background-image: url('../images/icons/web.png');
}

.websiteButton[data-website="webpage"] {
  background-color: rgba(68, 68, 68, 1);
  border-color: black;
}

.websiteButton[data-website="webpage"]:hover {
  background-color: rgba(102, 102, 102, 1);
}

// Linkedin
.websiteButton[data-website="linkedin"]:before {
  background-image: url('../images/icons/linkedin.svg');
}

.websiteButton[data-website="linkedin"] {
  background-color: rgba(0, 123, 182, 1);
  border-color: rgba(0, 89, 131, 1);
}

.websiteButton[data-website="linkedin"]:hover {
  background-color: rgba(0, 89, 131, 1);
}

// Email
.websiteButton[data-website="email"]:before {
  background-image: url('../images/icons/email.png');
}

.websiteButton[data-website="email"] {
  background-color: rgba(160, 160, 160, 1);
  border-color: black;
}

.websiteButton[data-website="email"]:hover {
  background-color: rgba(220, 220, 220, 1);
}

// Orcid
.websiteButton[data-website="orcid"]:before {
  background-image: url('../images/icons/orcid.png');
}

.websiteButton[data-website="orcid"] {
  background-color: rgba(50, 90, 50, 1);
  border-color: rgba(80, 120, 80, 1);
}

.websiteButton[data-website="orcid"]:hover {
  background-color: rgba(80, 110, 80, 1);
}

// PDF
.websiteButton[data-website="pdf"]:before {
  background-image: url('../images/icons/pdf.png');
}

.websiteButton[data-website="pdf"] {
  background-color: rgba(100, 90, 90, 1);
  border-color: black;
}

.websiteButton[data-website="pdf"]:hover {
  background-color: rgba(220, 160, 160, 1);
}

// Powerpoint
.websiteButton[data-website="powerpoint"]:before {
  background-image: url('../images/icons/powerpoint.png');
}

.websiteButton[data-website="powerpoint"] {
  background-color: rgba(100, 90, 90, 1);
  border-color: black;
}

.websiteButton[data-website="powerpoint"]:hover {
  background-color: rgba(220, 160, 160, 1);
}

// Chrome Store
.websiteButton[data-website="chromeStore"]:before {
  background-image: url('../images/icons/chromeStore.png');
}

.websiteButton[data-website="chromeStore"] {
  background-color: rgba(60, 60, 60, 1);
  border-color: rgba(20, 20, 20, 1);
}

.websiteButton[data-website="chromeStore"]:hover {
  background-color: rgba(150, 150, 150, 1);
}
