<div class="jumbotron">
    <h1>Welcome!</h1>
    <p itemscope itemtype="http://schema.org/Person">
      Buenas, mi nombre es <span itemprop="givenName">Haritz</span> <span itemprop="familyName">Medina</span> y este es
      mi sitio web personal. Soy estudiante y entusiasta de la informática. Mis áreas favoritas son el desarrollo web y los sistemas
      aunque me considero un <span itemprop="jobTitle">informático</span> que le gustan la mayoría de ámbitos.
    </p>
    <p>En este sitio web puedes encontrar información sobre mi. Por lo tanto, considerate bienvenido, disfrútala.
    </p>
    <div class="alert alert-warning" role="warning">
      Este sitio web está en desarrollo, por lo tanto no te preocupes si hay algo incompleto o está mal, pero siéntete libre de
      hacerme cualquier comentario para mejorarla :-)
    </div>
</div>
