<div class="jumbotron">
  <div class="pb-2 mt-4 mb-2 border-bottom">
    <h1 class="display-4">Desarrollos personales</h1>
  </div>

  <div class="card bg-dark text-white">
    <div class="card-header">hypothesis-api-client</div>
    <div class="card-body">
      Una pequeña librería para simplificar el uso de la API de <a href="https://hypothes.is/users/haritzmedina">Hypothes.is</a>, que es un gran servicio de anotaciones web!
      <div>
        <a class="websiteButton" data-website="github" href="https://github.com/haritzmedina/hypothesis-api-client" target="_blank"></a>
        <a class="websiteButton" data-website="npm" href="https://www.npmjs.com/package/hypothesis-api-client" target="_blank"></a>
      </div>
    </div>
  </div>

  <div class="card bg-dark text-white">
    <div class="card-header">EPlayer</div>
    <div class="card-body">
      Un reproductor de música multiplataforma desarrollado utilizando <a href="https://electron.atom.io/" target="_blank">electron</a>. Escrito en javascript, html y css, extensible y liviano. ¡Actualmente en desarrollo!
      Conocido previamente como <a target="_blank" href="https://chrome.google.com/webstore/detail/google-chrome-player/ffnjciodacoancibabjncalfkgfbadmo?hl=en">GCPlayer</a>.
      <div>
        <a class="websiteButton" data-website="github" href="https://github.com/haritzmedina/EPlayer" target="_blank"></a>
      </div>
    </div>
  </div>

  <div class="card bg-dark text-white">
    <div class="card-header">DBusBot</div>
    <div class="card-body">
      Un chatbot para ver los tiempos de llegada de los autobuses de <a href="https://www.dbus.eus/" target="_blank">DBus</a>. Escrito usando <a href="https://botframework.com" target="_blank">Microsoft bot framework</a>.
      Actualmente no está en funcionamiento, debido a cambios en las políticas de uso de Microsoft Bot Framework... Mi idea es reescribirlo utilizando <a href="https://telegraf.js.org/#/">Telegraf</a>.
      <div>
        <a class="websiteButton" data-website="telegram" href="https://telegram.me/dbusbot" target="_blank"></a>
        <a class="websiteButton" data-website="github" href="https://github.com/haritzmedina/dbusbot" target="_blank"></a>
      </div>
    </div>
  </div>

  <div class="card bg-dark text-white">
    <div class="card-header">Kaixo Mundua</div>
    <div class="card-body">
      Un portal web para subir y compartir tus fotos escrito en Python sobre la plataforma Google Chrome AppEngine.
      <div>
        <a class="websiteButton" data-website="webpage" href="https://kaixomundua.haritzmedina.com" target="_blank"></a>
        <a class="websiteButton" data-website="github" href="https://github.com/haritzmedina/DSSWKaixoMundua" target="_blank"></a>
      </div>
    </div>
  </div>

  <div class="card bg-dark text-white">
    <div class="card-header">Radio</div>
    <div class="card-body">
      Un reproductor de radios online escrito en PHP, HTML, CSS y Javascript.
      <div>
        <a class="websiteButton" data-website="webpage" href="https://radio.haritzmedina.com" target="_blank"></a>
        <a class="websiteButton" data-website="github" href="https://github.com/haritzmedina/radio" target="_blank"></a>
      </div>
    </div>
  </div>

</div>
