<div class="jumbotron">
    <div class="page-header">
        <h1>Studies</h1>
    </div>
    <p>
        I am currently a student at the <span itemprop="alumniOf">University of Basque Country (UPV/EHU)</span> Faculty of Informatics,
        but I had to study hard to get here.
    </p>

    <div class="panel panel-default panel-black">
        <div class="panel-heading">Master's degree in Advanced Computer Systems</div>
        <div class="panel-body">

            An interdisciplinary master focused on
        </div>
    </div>

    <div class="page-header">
        <h1>Jobs</h1>
    </div>

</div>