<div class="jumbotron">
    <div class="page-header">
        <h1>Projects</h1>
    </div>

    <div class="panel panel-default panel-black">
        <div class="panel-heading">GCPlayer</div>
        <div class="panel-body">
            A google chrome music player. Written in pure javascript html and css, extensible and pretty.
            <a href="https://github.com/haritzmedina/GCPlayer" class="btn btn-social-icon btn-github">
                <span class="fa fa-github"></span>
            </a>
        </div>
    </div>

    <div class="panel panel-default panel-black">
        <div class="panel-heading">Kaixo Mundua</div>
        <div class="panel-body">
            A web portal to upload and share your own photos done using written in Python and managed by Google Chrome AppEngine.
            <a href="https://github.com/haritzmedina/DSSWKaixoMundua" class="btn btn-social-icon btn-github">
                <span class="fa fa-github"></span>
            </a>
        </div>
    </div>

</div>