<div class="jumbotron">
  <div class="pb-2 mt-4 mb-2 border-bottom">
    <h2 class="display-5">About me</h2>
  </div>
  <p class="text-justify">
    I am currently PhD student at the <a href="http://www.ehu.eus/en/en-home" target="_blank"><span itemprop="alumniOf">University of Basque Country (UPV/EHU)</span></a> Faculty of Computer Science.
    My research topic is the adoption of <a href="https://www.w3.org/annotation/">web annotation</a> techniques in domain-specific settings.
  </p>
  <p class="text-justify">
    After finishing High School at <a href="http://www.uni.hezkuntza.net/web/guest/inicio" target="_blank">Uni Eibar-Ermua</a>, I started my computer science studies.
    First, I studied something similar to an Associate Degree (known in Spain as <em>Ciclo de Formación Profesional de Grado Superior</em>) focused on Software Development at the same institute.
    Then, I finished a 4-years-long <a href="http://www.ehu.eus/en/web/informatika-fakultatea/informatika-ingenieritzako-gradua-iig-#eskaintza">Bachelor's Degree in Computer Science</a> at the University of the Basque Country with specialization in Software Engineering.
    It is the same place where I finished a <a href="http://www.ehu.eus/es/web/sistemasinformaticosavanzados/aurkezpena" target="_blank">Master's Degree in Distributed Systems and Web</a> oriented to investigation.
  </p>
  <p class="text-justify">
    During my studies I've been working in three companies, always with web technologies in mind, but I also have worked as back-end developer. My favourite technologies are the front-end languages and tools.
    I'm not an expert programming in Javascript, HTML or CSS, but they are the most used languages by me. For example, I have done my Bachelor Degree Thesis in pure client-side Javascript and my MsC is Javascript over NodeJS.
  </p>
  <p class="text-justify">
    You can connect me by</p>
  <div class="text-center">
    <a class="websiteButton" data-website="twitter" href="https://www.twitter.com/haritzmedina" target="_blank"></a>
    <a class="websiteButton" data-website="github" href="https://github.com/haritzmedina" target="_blank"></a>
    <a class="websiteButton" data-website="linkedin" href="https://www.linkedin.com/in/haritzmedina/es" target="_blank"></a>
    <a class="websiteButton" data-website="email" href="mailto:me@haritzmedina.com" target="_blank"></a>
    <a class="websiteButton" data-website="orcid" href="https://orcid.org/0000-0003-2545-9216" target="_blank"></a>
  </div>
</div>
