<div class="jumbotron">
  <div class="page-header">
    <h1>Multimedia</h1>
  </div>

  <div class="panel panel-default panel-black">
    <div class="panel-heading">Presentation at <a href="https://congreso.us.es/sistedes2018/">JISBD18</a></div>
    <div class="panel-body">
      Highlight&Go: una extensión para automatizar la extracción de datos en revisiones sistemáticas de la literatura utilizando Google Sheets.<br/>
      <a class="btn btn-social-icon btn-reddit" href="https://biblioteca.sistedes.es/articulo/highlightgo-una-extension-para-automatizar-la-extraccion-de-datos-en-revisiones-sistematicas-de-la-literatura-utilizando-google-sheets/" target="_blank">
        <img class="socialButtonCustomImg" src="../../icons/pdf.png" title="Paper"/>
      </a>
      <a class="btn btn-social-icon btn-pinterest" href="https://rebrand.ly/jisbd18highlightandgo" target="_blank">
        <img class="socialButtonCustomImg" src="../../icons/powerpoint.png" title="Slides"/>
      </a>
      <a href="https://github.com/haritzmedina/highlightAndGo" target="_blank" class="btn btn-social-icon btn-github">
        <span class="fa fa-github"></span>
      </a>
      <a class="btn btn-social-icon btn-reddit" href="https://chrome.google.com/webstore/detail/highlightgo/bihmalipgnlomidlpekdnoohiejppfmo" target="_blank">
        <img class="socialButtonCustomImg" src="../../icons/chromeStore.png" title="Chrome extension"/>
      </a>
    </div>
  </div>
  <div class="panel panel-default panel-black">
    <div class="panel-heading">Presentation at <a href="http://iannotate.org/2018/">IAnnotate18</a></div>
    <div class="panel-body">
      The Cold-star Challenge: Introducing annotation at the University of the Basque Country.
      <a class="btn btn-social-icon btn-pinterest" href="https://rebrand.ly/ianno18ehu" target="_blank">
        <img class="socialButtonCustomImg" src="../../icons/powerpoint.png" title="Slides"/>
      </a>
    </div>
  </div>
  <div class="panel panel-default panel-black">
    <div class="panel-heading">Thesis for Master's degree in Advanced Computer Systems</div>
    <div class="panel-body">
      SheetChat - Generación de chatbots a partir de hojas de cálculo.
      <a class="btn btn-social-icon btn-reddit" href="https://tfm.haritzmedina.com/main.pdf" target="_blank">
        <img class="socialButtonCustomImg" src="../../icons/pdf.png" title="Documentation"/>
      </a>
      <a class="btn btn-social-icon btn-pinterest" href="https://tfm.haritzmedina.com/powerpoint.pdf" target="_blank">
        <img class="socialButtonCustomImg" src="../../icons/powerpoint.png" title="Slides"/>
      </a>
      <a href="https://github.com/haritzmedina/SheetBot" target="_blank" class="btn btn-social-icon btn-github">
        <span class="fa fa-github"></span>
      </a>
    </div>
  </div>
  <div class="panel panel-default panel-black">
    <div class="panel-heading">Thesis for bachelor's degree in Computer Science</div>
    <div class="panel-body">
      Editor específico para extensiones de aumentación web.
      <a class="btn btn-social-icon btn-reddit" href="https://tfg.haritzmedina.com/main.pdf" target="_blank">
        <img class="socialButtonCustomImg" src="../../icons/pdf.png" title="Documentation"/>
      </a>
      <a class="btn btn-social-icon btn-pinterest" href="https://tfg.haritzmedina.com/powerpoint.pdf" target="_blank">
        <img class="socialButtonCustomImg" src="../../icons/powerpoint.png" title="Slides"/>
      </a>
    </div>
  </div>
</div>
