<div class="jumbotron">
  <div class="pb-2 mt-4 mb-2 border-bottom">
    <h2 class="display-5">Development projects</h2>
  </div>

  <div class="card bg-dark text-white">
    <div class="card-header">Hypothesis-api-client</div>
    <div class="card-body">
      A tiny npm module to simplify operations over the methods of <a href="https://hypothes.is/users/haritzmedina">Hypothes.is</a> API, which is an awesome service for web annotation.
      <div>
        <a class="websiteButton" data-website="github" href="https://github.com/haritzmedina/hypothesis-api-client" target="_blank" rel="noopener noreferrer"></a>
        <a class="websiteButton" data-website="npm" href="https://www.npmjs.com/package/hypothesis-api-client" target="_blank" rel="noopener noreferrer"></a>
      </div>
    </div>
  </div>

  <div class="card bg-dark text-white">
    <div class="card-header">EPlayer</div>
    <div class="card-body">
      An <a href="https://electron.atom.io/" target="_blank" rel="noopener noreferrer">electron</a>-based multiplatform music player. Written in pure javascript html and css, extensible and pretty. Currently under development!
      Previously known as <a href="https://chrome.google.com/webstore/detail/google-chrome-player/ffnjciodacoancibabjncalfkgfbadmo?hl=en" target="_blank" rel="noopener noreferrer">GCPlayer</a>.
      <div>
        <a class="websiteButton" data-website="github" href="https://github.com/haritzmedina/EPlayer" target="_blank" rel="noopener noreferrer"></a>
      </div>
    </div>
  </div>

  <div class="card bg-dark text-white">
    <div class="card-header">DBusBot</div>
    <div class="card-body">
      <div>
        It was a chatbot to ask for arrival times of <a href="https://www.dbus.eus/" target="_blank" rel="noopener noreferrer">DBus</a> company buses. Written using <a href="https://botframework.com" target="_blank" rel="noopener noreferrer">Microsoft bot framework</a>.
        It is currently unavailable, due to changes in the politics of Microsoft Bot Framework services... But hopefully I'll rewrite it in the future using <a href="https://telegraf.js.org/#/">Telegraf</a>.
        <div>
          <a class="websiteButton" data-website="telegram" href="https://telegram.me/dbusbot" target="_blank" rel="noopener noreferrer"></a>
          <a class="websiteButton" data-website="github" href="https://github.com/haritzmedina/dbusbot" target="_blank" rel="noopener noreferrer"></a>
        </div>
      </div>
    </div>
  </div>

  <div class="card bg-dark text-white">
    <div class="card-header">Kaixo Mundua</div>
    <div class="card-body">
      A web portal to upload and share your own photos done using written in Python and managed by Google Chrome AppEngine.
      <div>
        <a class="websiteButton" data-website="webpage" href="https://kaixomundua.haritzmedina.com" target="_blank" rel="noopener noreferrer"></a>
        <a class="websiteButton" data-website="github" href="https://github.com/haritzmedina/DSSWKaixoMundua" target="_blank" rel="noopener noreferrer"></a>
      </div>
    </div>
  </div>

  <div class="card bg-dark text-white">
    <div class="card-header">Radio</div>
    <div class="card-body">
      A radio station player written in PHP, Javascript, HTML and CSS.
      <div>
        <a class="websiteButton" data-website="webpage" href="https://radio.haritzmedina.com" target="_blank" rel="noopener noreferrer"></a>
        <a class="websiteButton" data-website="github" href="https://github.com/haritzmedina/radio" target="_blank" rel="noopener noreferrer"></a>
      </div>
    </div>
  </div>

</div>
