<div class="jumbotron">
  <div class="page-header">
    <h1>Brief curriculum vitae</h1>
  </div>
  <p class="text-justify">
    I am currently a student at the <a href="http://www.ehu.eus/en/en-home" target="_blank"><span itemprop="alumniOf">University of Basque Country (UPV/EHU)</span></a> Faculty of Computer Science,
    but I had to study hard to get here.
  </p>
  <p class="text-justify">
    After finishing High School at <a href="http://www.uni.hezkuntza.net/web/guest/inicio" target="_blank">Uni Eibar-Ermua</a>, I started my computer science studies.
    First, I studied something similar to an Associate Degree (known in Spain as <em>Ciclo de Formación Profesional de Grado Superior</em>) focused on Software Development at the same institute.
    Then, I finished a 4-years-long <a href="http://www.ehu.eus/en/web/informatika-fakultatea/informatika-ingenieritzako-gradua-iig-#eskaintza">Degree in Computer Science</a> at the University of the Basque Country with specialization in Software Engineering.
    It is the same place where I'm finishing a <a href="http://www.ehu.eus/es/web/sistemasinformaticosavanzados/aurkezpena" target="_blank">Master's Degree in Distributed Systems and Web</a> oriented to investigation.
  </p>
  <p class="text-justify">
    During my studies I've been working in three companies, always with web technologies in mind, but I also have worked as back-end developer. My favourite technologies are the front-end languages and tools.
    I'm not an expert programming in Javascript, HTML or CSS, but they are the most used languages by me. For example, I have done my Degrees Thesis in pure Javascript.
  </p>
  <p class="text-justify">
    You can connect me by</p>
  <div class="text-center">
    <a class="btn btn-social-icon btn-twitter" href="https://www.twitter.com/haritzmedina" target="_blank">
      <span class="fa fa-twitter"></span>
    </a>
    <a class="btn btn-social-icon btn-github" href="https://github.com/haritzmedina" target="_blank">
      <span class="fa fa-github"></span>
    </a>
    <a class="btn btn-social-icon btn-linkedin" href="https://www.linkedin.com/in/haritzmedina/en" target="_blank">
      <span class="fa fa-linkedin"></span>
    </a>
  </div>
  </p>

</div>
