<div class="jumbotron">
  <div class="page-header">
    <h1>Studies</h1>
  </div>
  <p>
    I am currently a student at the <span itemprop="alumniOf">University of Basque Country (UPV/EHU)</span> Faculty of Computer Science,
    but I had to study hard to get here.
  </p>

  <div class="panel panel-default panel-black">
    <div class="panel-heading">Master's degree in Advanced Computer Systems - University of Basque Country (UPV/EHU)</div>
    <div class="panel-body">
      <p>An interdisciplinary master covering a large part of the research areas in Computer Science.
      My studies are oriented to Distributed Systems and Web.
      <a href="http://www.ehu.eus/es/web/sistemasinformaticosavanzados/aurkezpena" target="_blank">Reference</a>
    </div>
  </div>

  <div class="page-header">
    <h1>Jobs</h1>
  </div>

</div>
